<!-- <div class="employee-list-container">
  <input
    [(ngModel)]="searchText"
    placeholder="Search by department or position"
  />

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of filteredEmployees()">
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
